@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-slate-900 dark:text-white transition-colors duration-300;
  }
}

@layer utilities {
  .glass-effect {
    @apply bg-white/70 dark:bg-slate-900/70 backdrop-blur-md border border-white/20 dark:border-white/10;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-fuchsia-600;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.dark .slick-prev:before,
.dark .slick-next:before {
  color: white !important;
}
 